
# BUILT-INS
auto-save-list/
transient/
eshell/
url/
tramp
bookmarks
session.*
*~

# PACKAGE SPECIFIC
elpa
straight/*
!straight/versions
projects
places
ido.last
bbdb
prescient-save.el
projectile-bookmarks.eld
projectile.cache
ac-comphist.dat
.geiser_history.*

# CUSTOM FILES
custom.el
*.swp
*.bak
