# BUILT-INS
auto-save-list/
transient/
eshell/
url/
tramp
bookmarks
session.*
*~
# PACKAGE SPECIFIC
straight/*
!straight/versions
ido.last
bbdb
prescient-save.el
projectile-bookmarks.eld
ac-comphist.dat
# CUSTOM FILES
custom.el
*.swp
*.bak
